{% extends 'hw/base.html' %}
{% block content%}
{% block js %}
<script src="/static/js/gift.js"></script>
{% endblock %}
{% for guest in object_list %}
  {% if guest.invitation.inv_type != 'Giver'%}
  <div class="Cat">
    <iframe src="https://giphy.com/embed/u98zWbe3jgJoI" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>

    <section class="Container">
      <section class="Header">
        <h1>{{guest.name}}! 💖</h1>
        <p>esto es lo que nos vas a regalar:</p>
      </section>

      <section class="List masonry no-margin">
        {% for gift in gifts %}
          {% if gift.guest == guest%}
              <div class="Item">
                <div class="Item-content">
                  <img src="{{ gift.pic }}" />
                </div>
            </div>
          {% endif %}
        {% endfor %}
      </section>
    </section>
    <section class="Container">
      <a class="Button black margin-bottom"  href="/invitation/{{ guest.pk }}/">
        volver a seleccionar regalos
      </a>
    </section>

    {% else %}
      <p>{{guest.invitation}}</p>
      😃
    {% endif %}
{% endfor %}
{% endblock %}
