{% extends 'hw/base.html' %}
{% block content%}
{% block js %}
<script src="/static/js/gift.js"></script>
{% endblock %}
{% for guest in object_list %}
  {% if guest.invitation.inv_type != 'Giver'%}
    {{guest.name}}!
    esto es lo que nos vas a regalar <i class="em em-santa"></i>:
        {% for gift in gifts %}
          {% if gift.guest == guest%}
          <div class="box">
          <h1>{{gift.name|title}}</h1>
         </div>
          {% endif %}
        {% endfor %}
        <a class="button is-link" href="/invitation/{{ guest.pk }}/">
     Ir a la lista de regalos
      </a>
    {% else %}
      <p>{{guest.invitation}}</p>
      😃
    {% endif %}
{% endfor %}
<iframe src="https://giphy.com/embed/u98zWbe3jgJoI" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pizza-i-love-is-life-u98zWbe3jgJoI">via GIPHY</a></p>
{% endblock %}
